@import '~antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}
.welcome{

}
.warp{
  padding-left: 30%;
}
.h3{
  font-weight: 600;
  font-size: 20px;
}
.spanTitl{
  color: #444;
  font-size: 32px;
  font-style: normal;
  font-family: Georgia,serif;
  line-height: 10px;
  padding: 0 4px 8px 4px;
}