@import '~antd/lib/style/themes/default.less';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}
.welcome{

}
.warp{
  padding-left: 30%;
}
.h3{
  font-weight: 600;
  font-size: 20px;
}
.spanTitl{
  color: #444;
  font-size: 32px;
  font-style: normal;
  font-family: Georgia,serif;
  line-height: 10px;
  padding: 0 4px 8px 4px;
}
.btnWarp{
  padding-top: 5px;
  // /deep/ .el-link{
  //   font-size: 16px;
  //   margin-right: 25px
  // }
}

.acticleList{
  padding-left: 12px;
  .acticle-item{
    margin-bottom: 5px;
    white-space: nowrap;
    .time{
      margin-right: 4px;
      padding-right: 8px;
      border-right: 1px solid #ECECEC;
      width: 50px;
      text-align: right;
      color: #999;
      font-size: 14px;
      line-height: 18px;
    }
    // /deep/ .el-link{
    //   padding-left: 5px;
    //   line-height: 18px;
    // }
  }
}